<h1>Zientia Educacional</h1>
<p>Segue abaixo alguns anexos da proposta submetida ao programa Startup Brasil.</p>

<br>

<h4>Identidade Visual</h4>

<p><%= image_tag('/anexo/znt1.jpg') %></p>

<br>

<h4>Identidade Visual (Branco) </h4>

<p><%= image_tag('/anexo/znt3.jpg', :style => 'width:1025px; height:749px;') %></p>
<br>

<h4>Icone Aplicação iPad</h4>

<p><%= image_tag('/anexo/icon_no_retina.png') %></p>
<br>

<h4>SplashScreen iPad</h4>

<p><%= image_tag('/anexo/splashscreen_ipad_zientia.png') %></p>

<br>

<h4>Tela Login iPad</h4>

<p><%= image_tag('/anexo/login_ipad_zientia.png') %></p>

<br>

<h4>Tela Login Web</h4>

<p><%= image_tag('/anexo/zientia_web_login.png') %></p>

<br>

<h4>Escopo Aluno logado plataforma web</h4>

<p><%= image_tag('/anexo/zientia_web_logado.png') %></p>